body {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow-x: hidden;/*aanpassing*/
 }
 
 .row {
	margin-left: 0;/*aanpassing*/
	margin-right: 0;/*aanpassing*/
	}
 
.navbar {
	background-color: black;
}

.footer {
	background-color: black;
	color: grey;
	padding: 16.5px;
}

.footer a {
	color: grey;
	text-decoration: none;
	transition: color 0.3s;
	cursor: pointer;
}

.footer a:hover {
	color: white;
}

.achtergrond {
	background-image: url('images/olijfboom.JPG');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	background-attachment: fixed;
}

.carousel-container {

	margin-left: auto;
	margin-right: 3rem;
	max-width: 25%;
	padding-left: 3rem;
	border-radius: 15px;
}

.carousel {
	width: 100%;
	border: 2px;
	border-radius: 15px;
	border-style: solid;
	border-color: gray;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.carousel-inner {
	border-radius: 10px;
}

.carousel-item {
	text-align: center;
	opacity: 0.8;
}

.carousel-item img {
	max-width: 100%;
	height: auto;
}

.tekst-container {
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	max-width: 35%;
	padding-left: 3rem;
	color: white;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bi-box-arrow-right {
    color: grey; 
	font-size: 2em;
}

.bi-box-arrow-right:hover { /*aanpassing*/
    color: white; 	
}

#imgPreview{
	display: none; /*aanpassing*/
}

@media (max-width: 1200px) {
	.carousel-container {
		max-width: 30%;
	}

	.tekst-container {
		max-width: 50%;
		max-height: 80%;
	}
}

@media (max-width: 992px) {
	.carousel-container {
		max-width: 40%;
	}

	.tekst-container {
		max-width: 60%;
	}
}

@media (max-width: 768px) {
	.carousel-container {
		max-width: 40%;
	}

	.tekst-container {
		max-width: 80%;
	}
}

@media (max-width: 375px) {
	.carousel-container {
		max-width: 60%;
	}

	.tekst-container {
		max-width: 90%;
	}
}

@media (max-width: 320px) {
	.carousel-container {
		max-width: 60%;
	}

	.tekst-container {
		max-width: 90%;
	}

	.achtergrond {

		min-height: 100%;
	}
}

@media (max-height: 690px) {
	body {
		height: 690px;
	}
}